@import "@styles/variables.scss";

.burger {
  position: absolute;
  background-color: inherit;
  z-index: 20;
  top: 26px;
  right: 20px;
  display: flex;
  align-items: center;
  width: 38px;
  height: 24px;
  display: none;

  @media (max-width: $breakPointSM) {
    display: flex;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $ColorWhite;
    transition: 0.2s all;
  }
  &::before {
    bottom: 0%;
    transform: none;
  }
  &::after {
    top: 0%;
    transform: none;
  }

  &_open {
    &::before {
      bottom: 50%;
      transform: rotate(-45deg) translate(0, 50%);
    }
    &::after {
      top: 50%;
      transform: rotate(45deg) translate(0, -50%);
    }
  }

  &_white {
    &::after,
    &::before {
      background-color: $ColorBlack;
    }
  }
}

.burger_span {
  height: 2px;
  width: 100%;
  background-color: $ColorWhite;
  transform: scale(1);
  &_open {
    transform: scale(0);
  }

  &_white {
    background-color: $ColorBlack;
  }
}
