@import "@styles/variables.scss";

.link {
  font-family: $FontPoppins;
  color: $ColorWhite;
  font-size: $FonstSizeHeader;
  font-weight: 300;
  transition: all 0.2s;

  @media (max-width: $breakPointSM) {
    font-size: $FonstSizeCurrencyTitle;
  }

  &:hover {
    transform: scale(1.1);
  }

  &_white {
    color: $ColorBlack;
  }

  &_name {
    font-weight: 600;
    &_active {
      font-weight: 300;
    }
  }
}
