@import "@styles/variables.scss";

.link {
  font-family: $FontPoppins;
  color: $ThemeWhite;
  font-size: $FonstSizeHeader;
  font-weight: 300;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}
