@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.footer_about {
  font-family: $FontPoppins;
  width: 39%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  @media (max-width: $breakPointXL) {
    @include adaptiv-360(gap, 35, 20);
  }
  @media (max-width: $breakPointMD) {
    width: 100%;
  }
  &_title {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: $FonstSizeFooterAboutTitle;
    & img {
      width: 38px;
      height: 38px;
    }
    & h2 {
      @extend %gradient-font;
      font-weight: 600;
    }
  }

  & p {
    font-weight: 300;
    color: $ColorWhite;
    line-height: 150%;
    font-size: $FonstSizeFooterAboutInfo;
    transition: all 0.2s;
    @media (max-width: $breakPointXL) {
      @include adaptiv-360(font-size, 24, 16);
    }
  }

  &_white {
    & p {
      color: $ColorBlack;
    }
  }
}
