@import "@styles/variables.scss";

.footer_about {
  font-family: $FontPoppins;
  width: 39%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  &_title {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: $FonstSizeFooterAboutTitle;
    & img {
      width: 38px;
      height: 38px;
    }
    & h2 {
      @extend %gradient-font;
      font-weight: 600;
    }
  }

  & p {
    font-weight: 300;
    color: $ColorWhite;
    line-height: 150%;
    font-size: $FonstSizeFooterAboutInfo;
    transition: all 0.2s;
  }

  &_white {
    & p {
      color: $ColorBlack;
    }
  }
}
