@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.copy {
  text-align: center;
  font-size: $FonstSizeFooterAboutInfo;
  color: $MainGray;
  margin-top: 55px;
  padding-bottom: 40px;
  transition: all 0.2s;
  @media (max-width: $breakPointXL) {
    @include adaptiv-360(margin-top, 55, 30);
    @include adaptiv-360(padding-bottom, 40, 10);
    @include adaptiv-360(font-size, 24, 18);
  }

  &_white {
    color: $DarkGray;
  }
}
