$ThemBlack: rgb(3, 3, 4);
$ThemWhite: rgb(255, 255, 255);
$FontPoppins: "Poppins", sans-serif;
$FontInter: "Inter", sans-serif;
$breakPointSM: 576px;
$breakPointMD: 768px;
$breakPointLG: 992px;
$breakPointXL: 1200px;

$FonstSizeHeader: 20px;

$widthContainer: 1254px;
