@import "@styles/variables.scss";

.navigate {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 656px;
  transition: all 0.2s;
  z-index: 20;
  @media (max-width: $breakPointSM) {
    position: absolute;
    top: 0;
    right: -100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
  }

  &_open {
    @media (max-width: $breakPointSM) {
      right: 0;
    }
  }
}
