@import "@styles/variables.scss";

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 77, 77, 0.3);

  &_block {
    position: absolute;
    width: 500px;
    min-height: 300px;
    top: 20%;
    left: calc(50% - 250px);
    background-color: $DarkGray;
    border-radius: 8px;
    border: 2px solid rgb(123, 121, 121);
    transition: all 0.2s;
    @media (max-width: $breakPointSM) {
      width: 400px;
      top: 10%;
      left: calc(50% - 200px);
    }
    @media (max-width: $breakPointESM) {
      width: 320px;
      left: calc(50% - 160px);
    }
    &_white {
      background-color: rgb(223, 225, 223);
    }

    & button {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 35px;
      height: 35px;
      background-color: inherit;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.1);
      }
      & img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.modal_open {
  overflow: hidden;
}
