@import "@styles/variables.scss";

.footer_nav {
  font-family: $FontPoppins;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 20px;

  & li {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  & h2 {
    color: $ColorWhite;
    font-size: $FonstSizeFooterNavTitle;
    margin-bottom: 34px;
    transition: all 0.2s;
  }
  & p {
    cursor: pointer;
    font-size: $FonstSizeFooterNavLink;
    color: $MainGray;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &_white {
    & h2 {
      color: $ColorBlack;
    }
    & p {
      color: $DarkGray;
    }
  }
}
