@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
  gap: 20px;
  width: 100%;
  padding: 0 25px;
  max-width: $widthContainer;
  @media (max-width: $breakPointXL) {
    @include adaptiv-360(min-height, 103, 80);
  }
  @media (max-width: $breakPointMD) {
    justify-content: center;
  }
}
