@import "@styles/variables.scss";

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
  gap: 20px;
  width: 100%;
  padding: 0 15px;
  max-width: $widthContainer;
}
