@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.poster_info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  width: 57%;
  padding: 0 15px;
  @media (max-width: $breakPointSM) {
    width: 100%;
    align-items: center;
  }
  &_title {
    @extend %gradient-font;
    font-size: 76px;
    line-height: 125%;
    margin-right: 64px;
    text-align: end;
    font-weight: 600;
    max-width: 700px;
    @media (max-width: $breakPointXL) {
      @include adaptiv-360(font-size, 76, 34);
    }
    @media (max-width: $breakPointSM) {
      text-align: center;
      margin-right: 0;
    }
  }

  &_describe {
    color: $MainGray;
    font-size: $FonstSizePoster;
    max-width: 397px;
    line-height: 188%;
    text-align: center;
    transition: all 0.2s;
    @media (max-width: $breakPointXL) {
      @include adaptiv-360(font-size, 25, 20);
    }

    &_white {
      color: $DarkGray;
    }
  }
}
