@import "@styles/variables.scss";

.swiper {
  position: relative;
  background-color: $ColorBlack;
  width: 50px;
  height: 25px;
  border-radius: 14px;
  border: 2px $ColorWhite solid;
  &_white {
    border: 2px $ColorBlack solid;
    background-color: $ColorWhite;
  }
  &_button {
    position: absolute;
    transition: all 0.2s;
    height: 25px;
    width: 25px;
    z-index: 2;
    background-color: inherit;
    border: 2px $ColorWhite solid;
    border-radius: 50%;
    top: -1.5px;
    left: -2px;
    &_white {
      left: 23px;
      border: 2px $ColorBlack solid;
      background-color: $ColorWhite;
    }
  }
}
