@import "@styles/variables.scss";
@import "@styles/mixins.scss";

.footer {
  width: 100%;
  padding: 0 15px;
  max-width: $widthContainer;
  &_info {
    display: flex;
    gap: 105px;

    @media (max-width: $breakPointXL) {
      @include adaptiv-360(gap, 105, 20);
    }
    @media (max-width: $breakPointMD) {
      flex-direction: column;
    }
  }
}
